#pagination {
  display: flex;
  gap: var(--spacing-4);
  justify-content: center;
}

#pagination > ul {
  display: flex;
  gap: var(--spacing-4);
}

#pagination > li {
  width: var(--spacing-4);
}

#pagination > p {
  width: var(--spacing-4);
}
