#pagination {
  display: flex;
  justify-content: center;
}

#pagination > ul {
  display: flex;
  align-items: baseline;
}

#pagination .ellipsis {
  color: var(--color-text-interactive-default);
}

#pagination .white a {
  color: var(--color-text-primary);
}

#pagination rux-button::part(container) {
  opacity: 1;
}
