#media-item-link:hover,
#media-item-link:focus-visible {
  text-decoration: none;
  border-radius: var(--radius-base);
  outline: var(--color-background-interactive-hover) solid 2px;
}

#media-item {
  width: 28rem;
  --body-padding: var(--spacing-0);
  color: var(--color-text-primary);
}

#media-item img {
  height: 21rem;
  object-fit: cover;
}

#media-item-icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#media-item-icon > rux-icon {
  position: absolute;
}

#media-item-title {
  height: 3rem;
  padding: var(--spacing-6) var(--spacing-6) var(--spacing-4);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

#media-item-description {
  height: 4.75rem;
  padding: var(--spacing-0) var(--spacing-6);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
}

rux-card#media-item::part(footer) {
  display: flex;
  justify-content: flex-end;
}

#media-item footer {
  color: var(--color-text-interactive-default);
  padding: var(--spacing-2);
}

#media-item-audio {
  height: 20rem;
  background-color: var(--color-palette-darkblue-900);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
