#dual-range {
  position: relative;
  padding: var(--spacing-6) var(--spacing-0);
}

#dual-range input[type='range'] {
  -webkit-appearance: none;
  appearance: none;
  height: var(--spacing-1);
  width: 100%;
  position: absolute;
  background-color: var(--color-text-secondary);
  pointer-events: none;
}

#dual-range input[type='range']::-webkit-slider-runnable-track {
  z-index: 10;
}

#dual-range input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  pointer-events: all;
  width: var(--spacing-4);
  height: var(--spacing-4);
  background-color: var(--color-background-base-default);
  border-radius: var(--radius-circle);
  box-shadow: 0 0 0 var(--spacing-050)
    var(--color-background-interactive-default);
  cursor: pointer;
}

#dual-range input[type='range']::-webkit-slider-thumb:hover {
  box-shadow: 0 0 0 var(--spacing-050) var(--color-background-interactive-hover);
}

#dual-range-slider-overlay {
  position: absolute;
  height: var(--spacing-1);
  background-color: var(--color-background-interactive-default);
}
