#search-error {
  font-weight: var(--font-weight-regular);
}

#search-container {
  display: grid;
  grid-template-columns: 28rem 1fr;
  padding: var(--spacing-6) var(--spacing-0);
}

#search-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-6);
}

#search-container header {
  padding: var(--spacing-0) var(--spacing-6);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);
}

#search-meta {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-1);
}

#search-container main {
  display: grid;
  grid-template-columns: repeat(auto-fill, 28rem);
  padding: var(--spacing-0) var(--spacing-6);
  gap: var(--spacing-8) var(--spacing-4);
  justify-content: space-around;
}

#search-container footer {
  padding: var(--spacing-6);
}
