@import '@astrouxds/astro-web-components/dist/astro-web-components/astro-web-components.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&family=Roboto:wght@200;300;400;500;600;800&display=swap');

* {
  margin: var(--spacing-0);
}

ul {
  padding: var(--spacing-0);
}

li {
  list-style-type: none;
}

h2 {
  font-size: var(--font-size-2xl);
  font-weight: var(--font-weight-regular);
}

h3 {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-medium);
}

audio {
  width: 100%;
}

video {
  width: 100%;
}

rux-select {
  width: 12rem;
}

.flex-center {
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.vertical-divider {
  border-left: 1px solid var(--color-text-primary);
  height: var(--spacing-8);
  margin: var(--spacing-0) var(--spacing-3);
}
